.layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: rgba(15, 10, 10, .8);
    .close {
        position: absolute;
        top: 6px;
        right: 6px;

        cursor: pointer;
    }
}

/* 公用loading */
.loading-wrap {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 200px;
    height: 180px;
    padding-top: 36px;
    margin-top: -90px;
    margin-left: -100px;
    box-sizing: border-box;

    text-align: center;

    border-radius: 4px;
    background-color: #fff;
    dt {
        display: inline-block;
        width: 68px;
        height: 58px;
        margin-bottom: 24px;
    }
    dd {
        font-size: 18px;
        font-weight: bold;

        color: #b62a2a;
    }
}

/* 公用弹窗 */
.common-modal {
    position: absolute;
    top: 160px;
    left: 50%;

    width: 538px;
    padding-top: 60px;
    margin-left: -269px;
    overflow: hidden;

    border-radius: 4px;
    background-color: #fff;
    &.letter-modal {
        width: 886px;
        margin-left: -443px;
        .modal-content {
            padding: 0 80px 50px;
        }
    }
    .modal-title {
        font-size: 18px;
        font-weight: bold;
        line-height: 50px;

        text-align: center;

        color: #b62a2a;
        .firm-icon {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-top: -4px;
            margin-right: 8px;

            vertical-align: middle;

            background-image: url("./../img/global/firm_icon.png");
            background-repeat: no-repeat;
        }
    }
    .modal-content {
        padding: 24px 110px 50px;
        &.query-content {
            padding: 0 69px 50px;
        }
        &.options-content {
            padding: 16px 58px 50px;
        }
    }
    .modal-text {
        margin-top: 24px;
        margin-bottom: 30px;

        font-size: 18px;
        line-height: 32px;

        text-align: center;

        color: #6c6466;
    }
    .warn-tip {
        padding: 0 8px;

        font-size: 14px;
        line-height: 34px;

        color: #d65d49;
        border: 1px solid #d65d49;
        border-radius: 2px;
        background-color: #ffe2de;
    }
    .modal-form {
        padding-top: 8px;
        .form-item {
            font-size: 14px;

            input::-webkit-input-placeholder {
                color: #cac8c9;
            }
            input:-ms-input-placeholder {
            // IE10+
            color: #cac8c9;
            }
            input:-moz-placeholder {
            // Firefox4-18
            color: #cac8c9;
            }
            input::-moz-placeholder {
                // Firefox19+
                color: #cac8c9;
            }
            .icon {
                position: absolute;
                top: 50%;
                left: 0;

                margin-top: -13px;
            }
            .sms-btn {
                position: absolute;
                top: 50%;
                right: 0;

                display: inline-block;
                height: 30px;
                padding: 0 13px;
                margin-top: -15px;

                font-size: 14px;
                line-height: 30px;

                cursor: pointer;

                color: #aaa;
                border: 1px solid #eaeaea;
                border-radius: 2px;
                &:hover {
                    background-color: #faf9f9;
                }
            }
            .error-tip {
                display: none;
                padding: 0 14px;

                font-size: 12px;
                line-height: 24px;

                color: #d65d49;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                background-color: #ffe2de;
            }
            .input-item {
                position: relative;

                height: 62px;
                padding-left: 31px;

                line-height: 62px;

                border-bottom: 1px solid #e4e4e4;
            }
            input {
                width: 100%;
            }
            &.error {
                .input-item {
                    color: #d65d49;
                    border-bottom: 1px solid #d65d49;
                }
                input {
                    color: #d65d49;
                }
                .error-tip {
                    display: block;
                }
                .user {
                    background-position: -120px -30px;
                }
                .pwd {
                    background-position: -150px -30px;
                }
                .code {
                    background-position: -180px -30px;
                }
            }
            &.correct {
                .input-item {
                    &:after {
                        position: absolute;
                        top: 50%;
                        right: 18px;

                        width: 26px;
                        height: 26px;
                        margin-top: -13px;

                        content: "";

                        background-image: url("./../img/global/icon.png");
                        background-repeat: no-repeat;
                        background-position: -50px -30px;
                    }
                }
            }
        }
        .form-link-wrap {
            padding: 25px 0;

            font-size: 14px;
            line-height: 22px;

            color: #6c6466;
            a {
                color: #6c6466;
                &:hover,
                &:active {
                    color: #6c6466;
                }
            }
        }
        .form-tip-wrap {
            margin-top: 45px;
            margin-bottom: 10px;

            font-size: 14px;
            line-height: 24px;

            text-align: center;

            color: #aaa;
        }
    }
    .verify-item {
        position: relative;

        height: 36px;
        margin-top: 25px;

        font-size: 12px;
        line-height: 36px;

        text-align: center;

        color: #aaa;
        border-radius: 4px;
        background-color: #f0f0f0;
        .process-bar{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 36px;
            min-width: 48px;
            z-index: 9;
            background-color: #b62a2a;
            border-radius: 3px;
            overflow: hidden;
            &.finished{
                width: 100%!important;
                .process-tag{
                    border: 1px solid #b62a2a;
                    &:after{
                        width: 18px;
                        height: 18px;
                        background-position: -214px -34px;
                        margin-left: -9px;
                        margin-top: -9px;
                    }
                }
            }
            &.ing{
                .process-tag{
                    border: 1px solid #b62a2a;
                }
            }
            .process-text{
                color: #fff;
                display: inline-block;
                width: 318px;
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
            }
            .process-tag {
                position: absolute;
                right: 0;
                top: 0;
                width: 46px;
                height: 34px;

                text-align: center;

                border: 1px solid #c7c4c6;
                border-radius: 3px;
                background-color: #fff;
                z-index: 9;
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    display: inline-block;
                    width: 12px;
                    height: 14px;
                    margin-top: -7px;
                    margin-left: -6px;

                    content: "";

                    background-image: url("./../img/global/icon.png");
                    background-repeat: no-repeat;
                    background-position: -78px -36px;
                }
            }
        }
    }

    .modal-bottom {
        font-size: 14px;

        color: #6c6466;
        background-color: #f0f0f0;
        .bottom-text,
        .operate-content {
            height: 69px;

            line-height: 69px;
        }
        .operate-content {
            padding: 0 110px;
            a {
                display: inline-block;

                line-height: 26px;
            }
        }
        .btn-content {
            padding: 30px 0;

            font-size: 0;
            line-height: normal;

            text-align: center;
            .btn {
                display: inline-block;
                margin: 0 15px;
            }
        }
    }
}

/* 按钮 */
.modal-btn {
    width: 318px;
    height: 48px;

    font-size: 16px;
    line-height: 48px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 4px;
    background-color: #b62a2a;
    &:hover {
        background-color: #dd2a2a;
    }
}

/* 协议弹窗 */
.protocol-modal {
    position: absolute;
    top: 165px;
    left: 50%;

    width: 944px;
    padding: 60px 34px;
    margin-left: -472px;
    box-sizing: border-box;

    text-align: center;

    background-color: #fff;
    .modal-title {
        margin-bottom: 20px;

        font-size: 24px;
        font-weight: bold;

        text-align: center;

        color: #332227;
    }
    .modal-text {
        height: 345px;
        margin-bottom: 45px;
        overflow-x: hidden;
        overflow-y: auto;

        font-size: 14px;
        line-height: 26px;

        text-align: left;

        color: #6c6466;
        h4 {
            margin-bottom: 30px;
        }
    }
}

/* 函件查询 */
.query-content {
    text-align: center;
    .query-info {
        margin-bottom: 12px;

        font-size: 14px;

        text-align: center;

        color: #6c6466;
    }
    .query-form {
        padding-bottom: 50px;
        dl {
            dt {
                height: 42px;

                font-size: 14px;
                line-height: 42px;

                text-align: center;

                color: #b62a2a;
            }
            dd {
                position: relative;
                input {
                    width: 100%;
                    height: 38px;
                    box-sizing: border-box;

                    font-size: 14px;
                    line-height: 38px;

                    text-align: center;

                    border: 1px solid #e8cece;
                    border-radius: 3px;
                }
                .id-wrap {
                    height: 38px;

                    font-size: 0;

                    text-align: center;
                    span {
                        display: inline-block;
                        width: 21px;
                        height: 36px;
                        overflow: hidden;

                        font-size: 24px;

                        color: #666;
                        border-style: solid;
                        border-color: #e8cece;
                        border-top-width: 1px;
                        border-right-width: 1px;
                        border-bottom-width: 1px;
                        border-left-width: 0;
                        &:first-child {
                            border-left-width: 1px;
                        }
                        &.on {
                            border-color: #b62a2a;
                        }
                    }
                }
                .credit-input {
                    position: absolute;
                    top: 0;
                    left: 0;

                    opacity: 0;
                    border: 0;
                }
            }
        }
    }
    .query-tip {
        margin-top: 16px;

        font-weight: bold;

        color: #6c6466;
    }
}

/* 带按钮的提示框 */
.options-content {
    .big-icon {
        margin-bottom: 26px;
    }
    .options-title {
        margin-bottom: 40px;

        font-size: 18px;
        font-weight: bold;

        text-align: center;

        color: #b62a2a;
    }
    .options-text {
        font-size: 16px;
        line-height: 26px;

        color: #6c6466;
    }
    dl {
        text-align: center;
        dt {
            margin-bottom: 12px;

            font-size: 18px;
            font-weight: bold;

            color: #b62a2a;
        }
        dd {
            font-size: 14px;

            color: #6c6466;
        }
    }
}
