.lawyer-wrap {
    padding-bottom: 174px;
    overflow: hidden;
    .lawyer-list {
        margin-left: -40px;
        li {
            float: left;
            width: 265px;
            margin-top: 40px;
            margin-left: 40px;
            overflow: hidden;
            box-sizing: border-box;

            border: 1px solid rgba(255, 255, 255, 0);
            border-radius: 2px;

            // box-shadow: 0 0 6px 3px #f7f7f6;
            .img-box {
                width: 263px;
                height: 265px;
                overflow: hidden;
            }
            dl {
                dt {
                    position: relative;

                    font-size: 16px;
                    line-height: 47px;

                    text-align: center;

                    color: #fff;
                    background-color: #b64949;
                    &:after {
                        position: absolute;
                        bottom: -10px;
                        left: 50%;

                        display: block;
                        width: 0;
                        height: 0;
                        margin-left: -5px;

                        content: "";

                        border-width: 5px;
                        border-style: solid;
                        border-color: #b64949 transparent transparent transparent;
                    }
                }
                dd {
                    padding: 10px 0 15px;

                    font-size: 14px;
                    line-height: 25px;

                    text-align: center;

                    color: #6c6466;
                    background-color: #f0f0f0;
                }
            }
            &:hover {
                border: 1px solid #b64949;
            }
        }
    }
}

.lawyer-detail {
    padding: 50px 0 174px;
    .lawyer-info {
        width: 265px;
        .img-box {
            width: 265px;
            height: 265px;

            box-shadow: 0 0 6px 3px #f7f7f6;
        }
        dl {
            dt {
                position: relative;

                font-size: 16px;
                line-height: 47px;

                text-align: center;

                color: #fff;
                background-color: #b64949;
                &:after {
                    position: absolute;
                    bottom: -10px;
                    left: 50%;

                    display: block;
                    width: 0;
                    height: 0;
                    margin-left: -5px;

                    content: "";

                    border-width: 5px;
                    border-style: solid;
                    border-color: #b64949 transparent transparent transparent;
                }
            }
            dd {
                padding: 10px 0 15px;

                font-size: 14px;
                line-height: 25px;

                text-align: center;

                color: #6c6466;
                background-color: #f0f0f0;
            }
        }
    }
    .lawyer-intro {
        float: left;
        min-height: 530px;
        width: 815px;
        padding: 19px 30px;
        margin-left: 40px;

        line-height: 36px;

        background-color: #fafafa;
        box-shadow: 0 0 6px 3px #f7f7f6;
        font-size: 14px;
        color: #6c6466;
        p {
            margin-bottom: 35px;
        }
    }
}
