.banner {
    height: 380px;
}

.news-wrap {
    padding-bottom: 170px;
    .news-list {
        padding-top: 32px;
    }
    .news-type {
        margin-top: 30px;
        margin-left: -38px;

        text-align: center;
        a {
            display: inline-block;
            height: 36px;
            padding: 0 22px;
            margin-left: 38px;

            font-size: 14px;
            line-height: 36px;

            text-align: center;

            color: #b62a2a;
            border-radius: 50px;
            &:hover,
            &.on {
                color: #fff;
                background-color: #b62a2a;
            }
        }
    }
}
