.banner {
    height: 380px
}

.about-wrap {
    padding-bottom: 174px
}

.about-wrap .about-text {
    padding-top: 43px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 28px;
    color: #6c6466
}

.about-wrap .about-text p {
    margin-bottom: 26px
}
.about-wrap .about-text p.name {
    margin-bottom: 0px
}
.about-wrap .map-wrap {
    padding-top: 10px
}