html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    padding: 0;
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB"
}

input,
select,
textarea,
button {
    font-size: 100%;
    border: 0;
    outline: none
}

input::-webkit-input-placeholder {
    color: #e8cece
}

input:-ms-input-placeholder {
    color: #e8cece
}

input:-moz-placeholder {
    color: #e8cece
}

input::-moz-placeholder {
    color: #e8cece
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

th {
    text-align: inherit
}

fieldset,
img {
    border: 0
}

img {
    vertical-align: top
}

iframe {
    display: block
}

abbr,
acronym {
    font-variant: normal;
    border: 0
}

del {
    text-decoration: line-through
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500
}

q:before,
q:after {
    content: ""
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

a:link {
    color: #b62a2a
}

a:hover {
    text-decoration: none;
    color: #dd2a2a
}

a:visited {
    color: #dd2a2a
}

ins,
a {
    color: #b62a2a;
    text-decoration: none
}

.header {
    height: 100px;
    min-width: 1180px;
    margin: 0 auto;
    background-color: #fff
}

.header .logo {
    display: block;
    float: left;
    width: 201px;
    height: 48px;
    padding: 26px 0;
    margin-right: 57px
}

.header .top-nav {
    float: left;
    height: 100px;
    line-height: 100px
}

.header .top-nav a {
    position: relative;
    display: inline-block;
    padding: 0 22px;
    margin: 0 6px;
    font-size: 14px;
    text-decoration: none;
    color: #332227
}

.header .top-nav a.active,
.header .top-nav a:hover {
    color: #b62a2a
}

.header .top-nav a.active:after,
.header .top-nav a:hover:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #b62a2a
}

.header .top-right-info {
    font-size: 14px;
    color: #332227
}

.header .top-right-info .line {
    background-color: #9c8d85;
    width: 1px;
    height: 12px;
    display: inline-block;
    margin-left: 27px;
    vertical-align: -1px
}

.header .top-right-info .tel-info {
    line-height: 100px
}

.header .top-right-info .tel-info a {
    color: #413135
}

.header .top-right-info .tel-info a:hover {
    color: #413135
}

.header .top-right-info .login-wrap {
    padding: 36px 0 36px 12px
}

.header .top-right-info .login-wrap span {
    color: #6c6466
}

.header .top-right-info .login-wrap a {
    color: #332227;
    margin-left: 6px;
    line-height: 28px;
    padding: 0 12px;
    display: inline-block;
    border-radius: 30px
}

.header .top-right-info .login-wrap a:hover,
.header .top-right-info .login-wrap a.on {
    color: #fff;
    background-color: #b62a2a
}

.pro-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 75px;
    min-width: 1200px;
    background-color: rgba(31, 32, 32, 0.6)
}

.pro-nav li {
    float: right;
    padding: 10px;
    margin-right: 30px;
    text-align: center
}

.pro-nav li a {
    text-decoration: none;
    color: #05add9
}

.footer {
    padding-top: 50px;
    background-color: #090202
}

.footer .foot-sort {
    margin-bottom: 26px
}

.footer .foot-sort li {
    float: left;
    font-size: 14px;
    margin-right: 110px;
    line-height: 34px
}

.footer .foot-sort li dt {
    color: #6b1f1f
}

.footer .foot-sort li dd a {
    display: block
}

.footer .copyright {
    color: #b62a2a;
    font-size: 14px;
    text-align: center;
    height: 124px;
    line-height: 124px;
    border-top: 1px solid #301101
}

.fn-clear:after,
.clear:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    font-size: 0;
    content: " "
}

.fn-clear,
.clear {
    zoom: 1
}

body .fn-hide,
body .hide {
    display: none !important
}

.fn-left,
.fn-right {
    display: inline
}

.fn-left {
    float: left
}

.fn-right {
    float: right
}

.fn-out-body {
    position: absolute;
    top: -9999px;
    left: -9999px
}

.fn-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.fn-vhidden {
    visibility: hidden
}

.fn-rmb {
    margin-right: 3px;
    font-family: arial;
    font-style: normal
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.fn-pr {
    position: relative
}

.fn-st {
    font-family: "宋体"
}

.layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(15, 10, 10, 0.8)
}

.layer .close {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer
}

.loading-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 180px;
    padding-top: 36px;
    margin-top: -90px;
    margin-left: -100px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    background-color: #fff
}

.loading-wrap dt {
    display: inline-block;
    width: 68px;
    height: 58px;
    margin-bottom: 24px
}

.loading-wrap dd {
    font-size: 18px;
    font-weight: bold;
    color: #b62a2a
}

.common-modal {
    position: absolute;
    top: 160px;
    left: 50%;
    width: 538px;
    padding-top: 60px;
    margin-left: -269px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff
}

.common-modal.letter-modal {
    width: 886px;
    margin-left: -443px
}

.common-modal.letter-modal .modal-content {
    padding: 0 80px 50px
}

.common-modal .modal-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    color: #b62a2a
}

.common-modal .modal-title .firm-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: -4px;
    margin-right: 8px;
    vertical-align: middle;
    background-image: url("img/firm_icon.png");
    background-repeat: no-repeat
}

.common-modal .modal-content {
    padding: 24px 110px 50px
}

.common-modal .modal-content.query-content {
    padding: 0 69px 50px
}

.common-modal .modal-content.options-content {
    padding: 16px 58px 50px
}

.common-modal .modal-text {
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #6c6466
}

.common-modal .warn-tip {
    padding: 0 8px;
    font-size: 14px;
    line-height: 34px;
    color: #d65d49;
    border: 1px solid #d65d49;
    border-radius: 2px;
    background-color: #ffe2de
}

.common-modal .modal-form {
    padding-top: 8px
}

.common-modal .modal-form .form-item {
    font-size: 14px
}

.common-modal .modal-form .form-item input::-webkit-input-placeholder {
    color: #cac8c9
}

.common-modal .modal-form .form-item input:-ms-input-placeholder {
    color: #cac8c9
}

.common-modal .modal-form .form-item input:-moz-placeholder {
    color: #cac8c9
}

.common-modal .modal-form .form-item input::-moz-placeholder {
    color: #cac8c9
}

.common-modal .modal-form .form-item .icon {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -13px
}

.common-modal .modal-form .form-item .sms-btn {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    height: 30px;
    padding: 0 13px;
    margin-top: -15px;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    color: #aaa;
    border: 1px solid #eaeaea;
    border-radius: 2px
}

.common-modal .modal-form .form-item .sms-btn:hover {
    background-color: #faf9f9
}

.common-modal .modal-form .form-item .error-tip {
    display: none;
    padding: 0 14px;
    font-size: 12px;
    line-height: 24px;
    color: #d65d49;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #ffe2de
}

.common-modal .modal-form .form-item .input-item {
    position: relative;
    height: 62px;
    padding-left: 31px;
    line-height: 62px;
    border-bottom: 1px solid #e4e4e4
}

.common-modal .modal-form .form-item input {
    width: 100%
}

.common-modal .modal-form .form-item.error .input-item {
    color: #d65d49;
    border-bottom: 1px solid #d65d49
}

.common-modal .modal-form .form-item.error input {
    color: #d65d49
}

.common-modal .modal-form .form-item.error .error-tip {
    display: block
}

.common-modal .modal-form .form-item.error .user {
    background-position: -120px -30px
}

.common-modal .modal-form .form-item.error .pwd {
    background-position: -150px -30px
}

.common-modal .modal-form .form-item.error .code {
    background-position: -180px -30px
}

.common-modal .modal-form .form-item.correct .input-item:after {
    position: absolute;
    top: 50%;
    right: 18px;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    content: "";
    background-image: url("img/icon.png");
    background-repeat: no-repeat;
    background-position: -50px -30px
}

.common-modal .modal-form .form-link-wrap {
    padding: 25px 0;
    font-size: 14px;
    line-height: 22px;
    color: #6c6466
}

.common-modal .modal-form .form-link-wrap a {
    color: #6c6466
}

.common-modal .modal-form .form-link-wrap a:hover,
.common-modal .modal-form .form-link-wrap a:active {
    color: #6c6466
}

.common-modal .modal-form .form-tip-wrap {
    margin-top: 45px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #aaa
}

.common-modal .verify-item {
    position: relative;
    height: 36px;
    margin-top: 25px;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    color: #aaa;
    border-radius: 4px;
    background-color: #f0f0f0
}

.common-modal .verify-item .process-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 46px;
    height: 34px;
    text-align: center;
    border: 1px solid #c7c4c6;
    border-radius: 3px;
    background-color: #fff
}

.common-modal .verify-item .process-tag:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 12px;
    height: 14px;
    margin-top: -7px;
    margin-left: -6px;
    content: "";
    background-image: url("img/icon.png");
    background-repeat: no-repeat;
    background-position: -78px -36px
}

.common-modal .modal-bottom {
    font-size: 14px;
    color: #6c6466;
    background-color: #f0f0f0
}

.common-modal .modal-bottom .bottom-text,
.common-modal .modal-bottom .operate-content {
    height: 69px;
    line-height: 69px
}

.common-modal .modal-bottom .operate-content {
    padding: 0 110px
}

.common-modal .modal-bottom .operate-content a {
    display: inline-block;
    line-height: 26px
}

.common-modal .modal-bottom .btn-content {
    padding: 30px 0;
    font-size: 0;
    line-height: normal;
    text-align: center
}

.common-modal .modal-bottom .btn-content .btn {
    display: inline-block;
    margin: 0 15px
}

.modal-btn {
    width: 318px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #b62a2a
}

.modal-btn:hover {
    background-color: #dd2a2a
}

.protocol-modal {
    position: absolute;
    top: 165px;
    left: 50%;
    width: 944px;
    padding: 60px 34px;
    margin-left: -472px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff
}

.protocol-modal .modal-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #332227
}

.protocol-modal .modal-text {
    height: 345px;
    margin-bottom: 45px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    color: #6c6466
}

.protocol-modal .modal-text h4 {
    margin-bottom: 30px
}

.query-content {
    text-align: center
}

.query-content .query-info {
    margin-bottom: 12px;
    font-size: 14px;
    text-align: center;
    color: #6c6466
}

.query-content .query-form {
    padding-bottom: 50px
}

.query-content .query-form dl dt {
    height: 42px;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    color: #b62a2a
}

.query-content .query-form dl dd {
    position: relative
}

.query-content .query-form dl dd input {
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #e8cece;
    border-radius: 3px
}

.query-content .query-form dl dd .id-wrap {
    height: 38px;
    font-size: 0;
    text-align: center
}

.query-content .query-form dl dd .id-wrap span {
    display: inline-block;
    width: 21px;
    height: 36px;
    overflow: hidden;
    font-size: 24px;
    color: #666;
    border-style: solid;
    border-color: #e8cece;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0
}

.query-content .query-form dl dd .id-wrap span:first-child {
    border-left-width: 1px
}

.query-content .query-form dl dd .id-wrap span.on {
    border-color: #b62a2a
}

.query-content .query-form dl dd .credit-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border: 0
}

.query-content .query-tip {
    margin-top: 16px;
    font-weight: bold;
    color: #6c6466
}

.options-content .big-icon {
    margin-bottom: 26px
}

.options-content .options-title {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #b62a2a
}

.options-content .options-text {
    font-size: 16px;
    line-height: 26px;
    color: #6c6466
}

.options-content dl {
    text-align: center
}

.options-content dl dt {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #b62a2a
}

.options-content dl dd {
    font-size: 14px;
    color: #6c6466
}

.news-wrap {
    overflow: hidden
}

.news-wrap .news-list {
    margin-left: -60px
}

.news-wrap .news-list li {
    position: relative;
    top: 0;
    float: left;
    width: 353px;
    height: 290px;
    margin-bottom: 60px;
    margin-left: 60px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    background-color: #fafafa;
    box-shadow: 0 0 4px 1px rgba(30, 18, 9, 0.04)
}

.news-wrap .news-list li .news-top {
    padding: 31px 22px 30px 20px;
    font-size: 16px;
    line-height: 20px;
    color: #ada7a4;
    border-bottom: 1px solid #f0e0e0
}

.news-wrap .news-list li dl {
    padding: 20px 22px 0 20px
}

.news-wrap .news-list li dl dt {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 22px;
    color: #6c6466
}

.news-wrap .news-list li dl dd {
    height: 72px;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
    color: #ada7a4
}

.news-wrap .news-list li .news-bottom {
    padding: 23px 22px 16px 20px;
    color: #6c6466
}

.news-wrap .news-list li:hover {
    top: -5px;
    box-shadow: 0 0 4px 1px rgba(30, 18, 9, 0.08)
}

.news-wrap .news-list li:hover .news-bottom {
    color: #b62a2a
}

.news-wrap .news-list li:hover .icon.arrow {
    background-position: -30px -30px
}

body {
    min-width: 1200px;
    margin: 0 auto
}

.article {
    min-height: 500px
}

.container {
    position: relative;
    width: 1180px;
    margin: 0 auto
}

.c-red {
    color: #b62a2a
}

.common-title {
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 24px;
    text-align: center;
    color: #413135
}

.common-title:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1180px;
    height: 1px;
    margin-left: -590px;
    content: "";
    background: url("img/title_line.png") no-repeat top center
}

.icon {
    display: inline-block;
    height: 26px;
    vertical-align: middle;
    background-image: url("img/icon.png");
    background-repeat: no-repeat
}

.icon.news {
    position: relative;
    top: -6px;
    width: 26px;
    margin-right: 12px;
    background-position: 0 0
}

.icon.arrow {
    width: 12px;
    margin-top: -1px;
    margin-left: 7px;
    background-position: -30px 0
}

.icon.tel {
    width: 26px;
    margin-right: 5px;
    vertical-align: -7px;
    background-position: -50px 0
}

.icon.connect {
    width: 4px;
    margin: 0 12px;
    vertical-align: -8px;
    background-position: -80px 0
}

.icon.user {
    width: 26px;
    margin-right: 5px;
    vertical-align: -7px;
    background-position: -120px 0
}

.icon.close {
    width: 26px;
    background-position: -90px 0
}

.icon.pwd {
    width: 26px;
    margin-right: 5px;
    vertical-align: -7px;
    background-position: -150px 0
}

.icon.code {
    width: 26px;
    margin-right: 5px;
    vertical-align: -7px;
    background-position: -180px 0
}

.icon.back {
    width: 14px;
    margin-right: 6px;
    vertical-align: -8px;
    background-position: -96px -30px
}

.icon.tick {
    width: 26px;
    background-position: -50px -30px
}

.icon.warn {
    width: 26px;
    margin-right: 9px;
    vertical-align: -8px;
    background-position: 0 -30px
}

.big-icon {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    vertical-align: middle;
    background-image: url("img/big_icon.png");
    background-repeat: no-repeat
}

.big-icon.error {
    background-position: 0 0
}

.big-icon.warn {
    background-position: -80px 0
}

a.more-btn,
.more-btn {
    display: block;
    width: 188px;
    height: 46px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    color: #6c6466;
    border: 1px solid #e8cece;
    border-radius: 50px;
    background-color: #fbfcfc
}

a.more-btn:hover,
.more-btn:hover {
    color: #6c6466;
    background-color: #faf9f9
}

.search-form {
    font-size: 0
}

.search-form label {
    margin-right: 31px;
    font-size: 18px;
    line-height: 46px;
    color: #332227
}

.search-form input {
    display: inline-block;
    width: 284px;
    height: 44px;
    padding: 0 19px;
    font-size: 14px;
    line-height: 44px;
    border: 1px solid #e8cece;
    border-right-width: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.search-form button {
    display: inline-block;
    width: 132px;
    height: 46px;
    font-size: 16px;
    line-height: 46px;
    cursor: pointer;
    text-align: center;
    vertical-align: -1px;
    color: #fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #b62a2a
}

.search-form button:hover {
    background-color: #dd2a2a
}

.path-bar {
    font-size: 14px;
    line-height: 26px;
    color: #b8b5b4;
    background-color: #f5f5f5
}

.path-bar .container {
    padding: 18px 9px;
    box-sizing: border-box
}

.path-bar a {
    color: #b8b5b4
}

.path-bar a:hover,
.path-bar a:active {
    color: #b8b5b4
}

.path-bar .current {
    color: #b62a2a
}

.btn {
    display: block;
    height: 48px;
    min-width: 120px;
    padding: 0 26px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 46px;
    cursor: pointer;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px
}

.btn.red {
    color: #fff;
    background-color: #b62a2a
}

.btn.red:hover {
    background-color: #dd2a2a
}

.btn.white {
    color: #6c6466;
    border-color: #e8cece;
    background-color: #fff
}

.btn.white:hover {
    background-color: #faf9f9
}