.lawyer-wraps {
    padding-bottom: 174px;
    overflow: hidden
}

.lawyer-wraps .lawyer-list {
    margin-left: -40px
}

.lawyer-wraps .lawyer-list li {
    float: left;
    width: 265px;
    margin-top: 40px;
    margin-left: 40px;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 0 4px 1px rgba(30, 18, 9, 0.04);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.lawyer-wraps .lawyer-list li .img-box {
    width: 265px;
    height: 265px;
    overflow: hidden
}

.lawyer-wraps .lawyer-list li a {
    display: block;
    position: relative
}

.lawyer-wraps .lawyer-list li dl dt {
    position: relative;
    font-size: 16px;
    line-height: 47px;
    text-align: center;
    color: #fff;
    background-color: #b64949
}

.lawyer-wraps .lawyer-list li dl dt:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin-left: -5px;
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: #b64949 transparent transparent transparent
}

.lawyer-wraps .lawyer-list li dl dd {
    padding: 10px 0 15px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #6c6466;
    background-color: #f0f0f0
}

.lawyer-wraps .lawyer-list li:hover {
    box-shadow: 0 0 4px 1px rgba(30, 18, 9, 0.08);
    top: -5px
}

.lawyer-wraps .lawyer-list li:hover a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #b64949;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 9;
    cursor: pointer
}

.lawyer-detail {
    padding: 50px 0 174px
}

.lawyer-detail .lawyer-info {
    width: 265px
}

.lawyer-detail .lawyer-info .img-box {
    width: 265px;
    height: 265px;
    box-shadow: 0 0 4px 1px rgba(30, 18, 9, 0.04);
    overflow: hidden;
}

.lawyer-detail .lawyer-info dl dt {
    position: relative;
    font-size: 16px;
    line-height: 47px;
    text-align: center;
    color: #fff;
    background-color: #b64949
}

.lawyer-detail .lawyer-info dl dt:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin-left: -5px;
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: #b64949 transparent transparent transparent
}

.lawyer-detail .lawyer-info dl dd {
    padding: 10px 0 15px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #6c6466;
    background-color: #f0f0f0
}

.lawyer-detail .lawyer-intro {
    float: left;
    min-height: 530px;
    width: 815px;
    padding: 19px 30px;
    margin-left: 40px;
    line-height: 36px;
    background-color: #fafafa;
    box-shadow: 0 0 4px 1px rgba(30, 18, 9, 0.04);
    font-size: 14px;
    color: #6c6466
}

.lawyer-detail .lawyer-intro p {
    margin-bottom: 35px
}